swagger: '2.0'
info:
  title: Defect Dojo API
  description: To use the API you need be authorized.
  version: v2
host: 'defectdojo.site.com'
schemes:
  - http
basePath: /api/v2
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api_key:
    in: header
    name: Authorization
    type: apiKey
security:
  - api_key: []
paths:
  /api-token-auth/:
    post:
      operationId: api-token-auth_create
      description: ''
      parameters: []
      responses:
        '201':
          description: ''
      tags:
        - api-token-auth
    parameters: []
  /development_environments/:
    get:
      operationId: development_environments_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/DevelopmentEnvironment'
      tags:
        - development_environments
    post:
      operationId: development_environments_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/DevelopmentEnvironment'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/DevelopmentEnvironment'
      tags:
        - development_environments
    parameters: []
  '/development_environments/{id}/':
    get:
      operationId: development_environments_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/DevelopmentEnvironment'
      tags:
        - development_environments
    put:
      operationId: development_environments_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/DevelopmentEnvironment'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/DevelopmentEnvironment'
      tags:
        - development_environments
    patch:
      operationId: development_environments_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/DevelopmentEnvironment'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/DevelopmentEnvironment'
      tags:
        - development_environments
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this development_ environment.
        required: true
        type: integer
  /endpoints/:
    get:
      operationId: endpoints_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: host
          in: query
          description: ''
          required: false
          type: string
        - name: product
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Endpoint'
      tags:
        - endpoints
    post:
      operationId: endpoints_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Endpoint'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Endpoint'
      tags:
        - endpoints
    parameters: []
  '/endpoints/{id}/':
    get:
      operationId: endpoints_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Endpoint'
      tags:
        - endpoints
    put:
      operationId: endpoints_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Endpoint'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Endpoint'
      tags:
        - endpoints
    patch:
      operationId: endpoints_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Endpoint'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Endpoint'
      tags:
        - endpoints
    delete:
      operationId: endpoints_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - endpoints
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this endpoint.
        required: true
        type: integer
  '/endpoints/{id}/generate_report/':
    post:
      operationId: endpoints_generate_report
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Endpoint'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Endpoint'
      tags:
        - endpoints
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this endpoint.
        required: true
        type: integer
  /engagements/:
    get:
      operationId: engagements_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: active
          in: query
          description: ''
          required: false
          type: string
        - name: eng_type
          in: query
          description: ''
          required: false
          type: string
        - name: target_start
          in: query
          description: ''
          required: false
          type: string
        - name: target_end
          in: query
          description: ''
          required: false
          type: string
        - name: requester
          in: query
          description: ''
          required: false
          type: string
        - name: report_type
          in: query
          description: ''
          required: false
          type: string
        - name: updated
          in: query
          description: ''
          required: false
          type: string
        - name: threat_model
          in: query
          description: ''
          required: false
          type: string
        - name: api_test
          in: query
          description: ''
          required: false
          type: string
        - name: pen_test
          in: query
          description: ''
          required: false
          type: string
        - name: status
          in: query
          description: ''
          required: false
          type: string
        - name: product
          in: query
          description: ''
          required: false
          type: string
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: version
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Engagement'
      tags:
        - engagements
    post:
      operationId: engagements_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Engagement'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Engagement'
      tags:
        - engagements
    parameters: []
  '/engagements/{id}/':
    get:
      operationId: engagements_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Engagement'
      tags:
        - engagements
    put:
      operationId: engagements_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Engagement'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Engagement'
      tags:
        - engagements
    patch:
      operationId: engagements_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Engagement'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Engagement'
      tags:
        - engagements
    delete:
      operationId: engagements_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - engagements
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this engagement.
        required: true
        type: integer
  '/engagements/{id}/accept_risks/':
    post:
      operationId: engagements_accept_risks
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/AcceptedRisk'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/AcceptedRisk'
      tags:
        - engagements
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this engagement.
        required: true
        type: integer
  '/engagements/{id}/close/':
    post:
      operationId: engagements_close
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Engagement'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Engagement'
      tags:
        - engagements
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this engagement.
        required: true
        type: integer
  '/engagements/{id}/generate_report/':
    post:
      operationId: engagements_generate_report
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Engagement'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Engagement'
      tags:
        - engagements
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this engagement.
        required: true
        type: integer
  '/engagements/{id}/reopen/':
    post:
      operationId: engagements_reopen
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Engagement'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Engagement'
      tags:
        - engagements
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this engagement.
        required: true
        type: integer
  /finding_templates/:
    get:
      operationId: finding_templates_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: title
          in: query
          description: ''
          required: false
          type: string
        - name: cwe
          in: query
          description: ''
          required: false
          type: number
        - name: severity
          in: query
          description: ''
          required: false
          type: string
        - name: description
          in: query
          description: ''
          required: false
          type: string
        - name: mitigation
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/FindingTemplate'
      tags:
        - finding_templates
    post:
      operationId: finding_templates_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FindingTemplate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/FindingTemplate'
      tags:
        - finding_templates
    parameters: []
  '/finding_templates/{id}/':
    get:
      operationId: finding_templates_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FindingTemplate'
      tags:
        - finding_templates
    put:
      operationId: finding_templates_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FindingTemplate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FindingTemplate'
      tags:
        - finding_templates
    patch:
      operationId: finding_templates_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FindingTemplate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FindingTemplate'
      tags:
        - finding_templates
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this finding_ template.
        required: true
        type: integer
  /findings/:
    get:
      operationId: findings_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: title
          in: query
          description: ''
          required: false
          type: string
        - name: date
          in: query
          description: ''
          required: false
          type: string
        - name: severity
          in: query
          description: ''
          required: false
          type: string
        - name: description
          in: query
          description: ''
          required: false
          type: string
        - name: mitigated
          in: query
          description: ''
          required: false
          type: string
        - name: endpoints
          in: query
          description: ''
          required: false
          type: string
        - name: test
          in: query
          description: ''
          required: false
          type: string
        - name: active
          in: query
          description: ''
          required: false
          type: string
        - name: verified
          in: query
          description: ''
          required: false
          type: string
        - name: false_p
          in: query
          description: ''
          required: false
          type: string
        - name: reporter
          in: query
          description: ''
          required: false
          type: string
        - name: url
          in: query
          description: ''
          required: false
          type: string
        - name: out_of_scope
          in: query
          description: ''
          required: false
          type: string
        - name: duplicate
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Finding'
      tags:
        - findings
    post:
      operationId: findings_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FindingCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/FindingCreate'
      tags:
        - findings
    parameters: []
  /findings/accept_risks/:
    post:
      operationId: findings_accept_risks
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FindingCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/FindingCreate'
      tags:
        - findings
    parameters: []
  /findings/generate_report/:
    post:
      operationId: findings_generate_report
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FindingCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/FindingCreate'
      tags:
        - findings
    parameters: []
  '/findings/{id}/':
    get:
      operationId: findings_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Finding'
      tags:
        - findings
    put:
      operationId: findings_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Finding'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Finding'
      tags:
        - findings
    patch:
      operationId: findings_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Finding'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Finding'
      tags:
        - findings
    delete:
      operationId: findings_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - findings
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this finding.
        required: true
        type: integer
  '/findings/{id}/notes/':
    get:
      operationId: findings_notes_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Finding'
      tags:
        - findings
    post:
      operationId: findings_notes_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FindingCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/FindingCreate'
      tags:
        - findings
    patch:
      operationId: findings_notes_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Finding'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Finding'
      tags:
        - findings
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this finding.
        required: true
        type: integer
  '/findings/{id}/remove_note/':
    patch:
      operationId: findings_remove_note
      description: Remove Note From Finding Note
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Note'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Note'
      tags:
        - findings
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this finding.
        required: true
        type: integer
  '/findings/{id}/remove_tags/':
    put:
      operationId: findings_remove_tags_update
      description: Remove Tag(s) from finding list of tags
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Finding'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Finding'
      tags:
        - findings
    patch:
      operationId: findings_remove_tags_partial_update
      description: Remove Tag(s) from finding list of tags
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Finding'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Finding'
      tags:
        - findings
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this finding.
        required: true
        type: integer
  '/findings/{id}/tags/':
    get:
      operationId: findings_tags_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Finding'
      tags:
        - findings
    post:
      operationId: findings_tags_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FindingCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/FindingCreate'
      tags:
        - findings
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this finding.
        required: true
        type: integer
  /import-scan/:
    post:
      operationId: import-scan_create
      description: ''
      parameters:
        - name: scan_date
          in: formData
          required: false
          type: string
          format: date
          default: '2020-06-01'
        - name: minimum_severity
          in: formData
          required: false
          type: string
          enum:
            - Info
            - Low
            - Medium
            - High
            - Critical
          default: Info
        - name: active
          in: formData
          required: false
          type: boolean
          default: true
        - name: verified
          in: formData
          required: false
          type: boolean
          default: true
        - name: scan_type
          in: formData
          required: true
          type: string
          enum:
            - ''
            - Netsparker Scan
            - Burp Scan
            - Nessus Scan
            - Nmap Scan
            - Nexpose Scan
            - AppSpider Scan
            - Veracode Scan
            - Checkmarx Scan
            - Checkmarx Scan detailed
            - Crashtest Security JSON File
            - Crashtest Security XML File
            - ZAP Scan
            - Arachni Scan
            - VCG Scan
            - Dependency Check Scan
            - Dependency Track Finding Packaging Format (FPF) Export
            - Retire.js Scan
            - Node Security Platform Scan
            - NPM Audit Scan
            - Qualys Scan
            - Qualys Infrastructure Scan (WebGUI XML)
            - Qualys Webapp Scan
            - OpenVAS CSV
            - Snyk Scan
            - Generic Findings Import
            - Trustwave Scan (CSV)
            - SKF Scan
            - Clair Klar Scan
            - Bandit Scan
            - SSL Labs Scan
            - Acunetix Scan
            - Fortify Scan
            - Gosec Scanner
            - SonarQube Scan
            - SonarQube Scan detailed
            - SonarQube API Import
            - MobSF Scan
            - Trufflehog Scan
            - Nikto Scan
            - Clair Scan
            - Brakeman Scan
            - SpotBugs Scan
            - AWS Scout2 Scan
            - AWS Prowler Scan
            - IBM AppScan DAST
            - PHP Security Audit v2
            - PHP Symfony Security Check
            - Safety Scan
            - DawnScanner Scan
            - Anchore Engine Scan
            - Bundler-Audit Scan
            - Twistlock Image Scan
            - Kiuwan Scan
            - Blackduck Hub Scan
            - Blackduck Component Risk
            - Openscap Vulnerability Scan
            - Wapiti Scan
            - Immuniweb Scan
            - Sonatype Application Scan
            - Cobalt.io Scan
            - Mozilla Observatory Scan
            - Whitesource Scan
            - Contrast Scan
            - Microfocus Webinspect Scan
            - Wpscan
            - Sslscan
            - JFrog Xray Scan
            - Sslyze Scan
            - Testssl Scan
            - Hadolint Dockerfile check
            - Aqua Scan
            - HackerOne Cases
            - Xanitizer Scan
            - Outpost24 Scan
            - Burp Enterprise Scan
            - DSOP Scan
            - Trivy Scan
            - Anchore Enterprise Policy Check
            - Gitleaks Scan
            - Choctaw Hog Scan
            - Harbor Vulnerability Scan
            - GitLab SAST Report
        - name: endpoint_to_add
          in: formData
          required: false
          type: integer
        - name: test_type
          in: formData
          required: false
          type: string
          minLength: 1
        - name: file
          in: formData
          required: false
          type: file
        - name: engagement
          in: formData
          required: true
          type: integer
        - name: lead
          in: formData
          required: false
          type: integer
          x-nullable: true
        - name: tags
          in: formData
          required: false
          type: array
          items:
            type: string
            minLength: 1
        - name: close_old_findings
          in: formData
          required: false
          type: boolean
          default: false
        - name: push_to_jira
          in: formData
          required: false
          type: boolean
          default: false
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ImportScan'
      consumes:
        - multipart/form-data
      tags:
        - import-scan
    parameters: []
  /jira_configurations/:
    get:
      operationId: jira_configurations_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: url
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/JIRAConf'
      tags:
        - jira_configurations
    post:
      operationId: jira_configurations_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/JIRAConf'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/JIRAConf'
      tags:
        - jira_configurations
    parameters: []
  '/jira_configurations/{id}/':
    get:
      operationId: jira_configurations_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JIRAConf'
      tags:
        - jira_configurations
    put:
      operationId: jira_configurations_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/JIRAConf'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JIRAConf'
      tags:
        - jira_configurations
    patch:
      operationId: jira_configurations_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/JIRAConf'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JIRAConf'
      tags:
        - jira_configurations
    delete:
      operationId: jira_configurations_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - jira_configurations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this jir a_ conf.
        required: true
        type: integer
  /jira_finding_mappings/:
    get:
      operationId: jira_finding_mappings_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: jira_id
          in: query
          description: ''
          required: false
          type: string
        - name: jira_key
          in: query
          description: ''
          required: false
          type: string
        - name: finding_id
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/JIRAIssue'
      tags:
        - jira_finding_mappings
    post:
      operationId: jira_finding_mappings_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/JIRAIssue'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/JIRAIssue'
      tags:
        - jira_finding_mappings
    parameters: []
  '/jira_finding_mappings/{id}/':
    get:
      operationId: jira_finding_mappings_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JIRAIssue'
      tags:
        - jira_finding_mappings
    put:
      operationId: jira_finding_mappings_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/JIRAIssue'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JIRAIssue'
      tags:
        - jira_finding_mappings
    patch:
      operationId: jira_finding_mappings_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/JIRAIssue'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JIRAIssue'
      tags:
        - jira_finding_mappings
    delete:
      operationId: jira_finding_mappings_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - jira_finding_mappings
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this jir a_ issue.
        required: true
        type: integer
  /jira_product_configurations/:
    get:
      operationId: jira_product_configurations_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: conf
          in: query
          description: ''
          required: false
          type: string
        - name: product
          in: query
          description: ''
          required: false
          type: string
        - name: component
          in: query
          description: ''
          required: false
          type: string
        - name: project_key
          in: query
          description: ''
          required: false
          type: string
        - name: push_all_issues
          in: query
          description: ''
          required: false
          type: string
        - name: enable_engagement_epic_mapping
          in: query
          description: ''
          required: false
          type: string
        - name: push_notes
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/JIRA'
      tags:
        - jira_product_configurations
    post:
      operationId: jira_product_configurations_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/JIRA'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/JIRA'
      tags:
        - jira_product_configurations
    parameters: []
  '/jira_product_configurations/{id}/':
    get:
      operationId: jira_product_configurations_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JIRA'
      tags:
        - jira_product_configurations
    put:
      operationId: jira_product_configurations_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/JIRA'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JIRA'
      tags:
        - jira_product_configurations
    patch:
      operationId: jira_product_configurations_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/JIRA'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JIRA'
      tags:
        - jira_product_configurations
    delete:
      operationId: jira_product_configurations_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - jira_product_configurations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this jir a_p key.
        required: true
        type: integer
  /metadata/:
    get:
      operationId: metadata_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: product
          in: query
          description: ''
          required: false
          type: string
        - name: endpoint
          in: query
          description: ''
          required: false
          type: string
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Meta'
      tags:
        - metadata
    post:
      operationId: metadata_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Meta'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Meta'
      tags:
        - metadata
    parameters: []
  '/metadata/{id}/':
    get:
      operationId: metadata_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Meta'
      tags:
        - metadata
    put:
      operationId: metadata_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Meta'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Meta'
      tags:
        - metadata
    patch:
      operationId: metadata_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Meta'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Meta'
      tags:
        - metadata
    delete:
      operationId: metadata_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - metadata
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this dojo meta.
        required: true
        type: integer
  /note_type/:
    get:
      operationId: note_type_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: description
          in: query
          description: ''
          required: false
          type: string
        - name: is_single
          in: query
          description: ''
          required: false
          type: string
        - name: is_active
          in: query
          description: ''
          required: false
          type: string
        - name: is_mandatory
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/NoteType'
      tags:
        - note_type
    post:
      operationId: note_type_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/NoteType'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/NoteType'
      tags:
        - note_type
    parameters: []
  '/note_type/{id}/':
    get:
      operationId: note_type_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/NoteType'
      tags:
        - note_type
    put:
      operationId: note_type_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/NoteType'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/NoteType'
      tags:
        - note_type
    patch:
      operationId: note_type_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/NoteType'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/NoteType'
      tags:
        - note_type
    delete:
      operationId: note_type_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - note_type
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this note_ type.
        required: true
        type: integer
  /notes/:
    get:
      operationId: notes_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: entry
          in: query
          description: ''
          required: false
          type: string
        - name: author
          in: query
          description: ''
          required: false
          type: string
        - name: private
          in: query
          description: ''
          required: false
          type: string
        - name: date
          in: query
          description: ''
          required: false
          type: string
        - name: edited
          in: query
          description: ''
          required: false
          type: string
        - name: edit_time
          in: query
          description: ''
          required: false
          type: string
        - name: editor
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Note'
      tags:
        - notes
    parameters: []
  '/notes/{id}/':
    get:
      operationId: notes_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Note'
      tags:
        - notes
    put:
      operationId: notes_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Note'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Note'
      tags:
        - notes
    patch:
      operationId: notes_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Note'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Note'
      tags:
        - notes
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this notes.
        required: true
        type: integer
  /product_types/:
    get:
      operationId: product_types_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: critical_product
          in: query
          description: ''
          required: false
          type: string
        - name: key_product
          in: query
          description: ''
          required: false
          type: string
        - name: created
          in: query
          description: ''
          required: false
          type: string
        - name: updated
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ProductType'
      tags:
        - product_types
    post:
      operationId: product_types_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProductType'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ProductType'
      tags:
        - product_types
    parameters: []
  '/product_types/{id}/':
    get:
      operationId: product_types_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ProductType'
      tags:
        - product_types
    put:
      operationId: product_types_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProductType'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ProductType'
      tags:
        - product_types
    patch:
      operationId: product_types_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProductType'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ProductType'
      tags:
        - product_types
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this product_ type.
        required: true
        type: integer
  '/product_types/{id}/generate_report/':
    post:
      operationId: product_types_generate_report
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProductType'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ProductType'
      tags:
        - product_types
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this product_ type.
        required: true
        type: integer
  /products/:
    get:
      operationId: products_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: prod_type
          in: query
          description: ''
          required: false
          type: string
        - name: created
          in: query
          description: ''
          required: false
          type: string
        - name: authorized_users
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Product'
      tags:
        - products
    post:
      operationId: products_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Product'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Product'
      tags:
        - products
    parameters: []
  '/products/{id}/':
    get:
      operationId: products_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Product'
      tags:
        - products
    put:
      operationId: products_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Product'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Product'
      tags:
        - products
    patch:
      operationId: products_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Product'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Product'
      tags:
        - products
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this product.
        required: true
        type: integer
  '/products/{id}/generate_report/':
    post:
      operationId: products_generate_report
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Product'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Product'
      tags:
        - products
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this product.
        required: true
        type: integer
  /reimport-scan/:
    post:
      operationId: reimport-scan_create
      description: ''
      parameters:
        - name: scan_date
          in: formData
          required: true
          type: string
          format: date
        - name: minimum_severity
          in: formData
          required: false
          type: string
          enum:
            - Info
            - Low
            - Medium
            - High
            - Critical
          default: Info
        - name: active
          in: formData
          required: false
          type: boolean
          default: true
        - name: verified
          in: formData
          required: false
          type: boolean
          default: true
        - name: scan_type
          in: formData
          required: true
          type: string
          enum:
            - ''
            - Netsparker Scan
            - Burp Scan
            - Nessus Scan
            - Nmap Scan
            - Nexpose Scan
            - AppSpider Scan
            - Veracode Scan
            - Checkmarx Scan
            - Checkmarx Scan detailed
            - Crashtest Security JSON File
            - Crashtest Security XML File
            - ZAP Scan
            - Arachni Scan
            - VCG Scan
            - Dependency Check Scan
            - Dependency Track Finding Packaging Format (FPF) Export
            - Retire.js Scan
            - Node Security Platform Scan
            - NPM Audit Scan
            - Qualys Scan
            - Qualys Infrastructure Scan (WebGUI XML)
            - Qualys Webapp Scan
            - OpenVAS CSV
            - Snyk Scan
            - Generic Findings Import
            - Trustwave Scan (CSV)
            - SKF Scan
            - Clair Klar Scan
            - Bandit Scan
            - SSL Labs Scan
            - Acunetix Scan
            - Fortify Scan
            - Gosec Scanner
            - SonarQube Scan
            - SonarQube Scan detailed
            - SonarQube API Import
            - MobSF Scan
            - Trufflehog Scan
            - Nikto Scan
            - Clair Scan
            - Brakeman Scan
            - SpotBugs Scan
            - AWS Scout2 Scan
            - AWS Prowler Scan
            - IBM AppScan DAST
            - PHP Security Audit v2
            - PHP Symfony Security Check
            - Safety Scan
            - DawnScanner Scan
            - Anchore Engine Scan
            - Bundler-Audit Scan
            - Twistlock Image Scan
            - Kiuwan Scan
            - Blackduck Hub Scan
            - Blackduck Component Risk
            - Openscap Vulnerability Scan
            - Wapiti Scan
            - Immuniweb Scan
            - Sonatype Application Scan
            - Cobalt.io Scan
            - Mozilla Observatory Scan
            - Whitesource Scan
            - Contrast Scan
            - Microfocus Webinspect Scan
            - Wpscan
            - Sslscan
            - JFrog Xray Scan
            - Sslyze Scan
            - Testssl Scan
            - Hadolint Dockerfile check
            - Aqua Scan
            - HackerOne Cases
            - Xanitizer Scan
            - Outpost24 Scan
            - Burp Enterprise Scan
            - DSOP Scan
            - Trivy Scan
            - Anchore Enterprise Policy Check
            - Gitleaks Scan
            - Choctaw Hog Scan
            - Harbor Vulnerability Scan
            - GitLab SAST Report
        - name: endpoint_to_add
          in: formData
          required: false
          type: integer
        - name: file
          in: formData
          required: false
          type: file
        - name: test
          in: formData
          required: true
          type: integer
        - name: push_to_jira
          in: formData
          required: false
          type: boolean
          default: false
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ReImportScan'
      consumes:
        - multipart/form-data
      tags:
        - reimport-scan
    parameters: []
  /scan_settings/:
    get:
      operationId: scan_settings_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: date
          in: query
          description: ''
          required: false
          type: string
        - name: user
          in: query
          description: ''
          required: false
          type: string
        - name: frequency
          in: query
          description: ''
          required: false
          type: string
        - name: product
          in: query
          description: ''
          required: false
          type: string
        - name: addresses
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ScanSettings'
      tags:
        - scan_settings
    post:
      operationId: scan_settings_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScanSettingsCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ScanSettingsCreate'
      tags:
        - scan_settings
    parameters: []
  '/scan_settings/{id}/':
    get:
      operationId: scan_settings_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ScanSettings'
      tags:
        - scan_settings
    put:
      operationId: scan_settings_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScanSettings'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ScanSettings'
      tags:
        - scan_settings
    patch:
      operationId: scan_settings_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScanSettings'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ScanSettings'
      tags:
        - scan_settings
    delete:
      operationId: scan_settings_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - scan_settings
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this scan settings.
        required: true
        type: integer
  /scans/:
    get:
      operationId: scans_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: date
          in: query
          description: ''
          required: false
          type: string
        - name: scan_settings
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Scan'
      tags:
        - scans
    parameters: []
  '/scans/{id}/':
    get:
      operationId: scans_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Scan'
      tags:
        - scans
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this scan.
        required: true
        type: integer
  /stub_findings/:
    get:
      operationId: stub_findings_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: title
          in: query
          description: ''
          required: false
          type: string
        - name: date
          in: query
          description: ''
          required: false
          type: string
        - name: severity
          in: query
          description: ''
          required: false
          type: string
        - name: description
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/StubFinding'
      tags:
        - stub_findings
    post:
      operationId: stub_findings_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/StubFindingCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/StubFindingCreate'
      tags:
        - stub_findings
    parameters: []
  '/stub_findings/{id}/':
    get:
      operationId: stub_findings_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StubFinding'
      tags:
        - stub_findings
    put:
      operationId: stub_findings_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/StubFinding'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StubFinding'
      tags:
        - stub_findings
    patch:
      operationId: stub_findings_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/StubFinding'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StubFinding'
      tags:
        - stub_findings
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this stub_ finding.
        required: true
        type: integer
  /test_types/:
    get:
      operationId: test_types_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/TestType'
      tags:
        - test_types
    post:
      operationId: test_types_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TestType'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TestType'
      tags:
        - test_types
    parameters: []
  '/test_types/{id}/':
    get:
      operationId: test_types_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TestType'
      tags:
        - test_types
    put:
      operationId: test_types_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TestType'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TestType'
      tags:
        - test_types
    patch:
      operationId: test_types_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TestType'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TestType'
      tags:
        - test_types
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this test_ type.
        required: true
        type: integer
  /tests/:
    get:
      operationId: tests_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: title
          in: query
          description: ''
          required: false
          type: string
        - name: test_type
          in: query
          description: ''
          required: false
          type: string
        - name: target_start
          in: query
          description: ''
          required: false
          type: string
        - name: target_end
          in: query
          description: ''
          required: false
          type: string
        - name: notes
          in: query
          description: ''
          required: false
          type: string
        - name: percent_complete
          in: query
          description: ''
          required: false
          type: number
        - name: actual_time
          in: query
          description: ''
          required: false
          type: string
        - name: engagement
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Test'
      tags:
        - tests
    post:
      operationId: tests_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TestCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TestCreate'
      tags:
        - tests
    parameters: []
  '/tests/{id}/':
    get:
      operationId: tests_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Test'
      tags:
        - tests
    put:
      operationId: tests_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Test'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Test'
      tags:
        - tests
    patch:
      operationId: tests_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Test'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Test'
      tags:
        - tests
    delete:
      operationId: tests_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - tests
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this test.
        required: true
        type: integer
  '/tests/{id}/accept_risks/':
    post:
      operationId: tests_accept_risks
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/AcceptedRisk'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/AcceptedRisk'
      tags:
        - tests
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this test.
        required: true
        type: integer
  '/tests/{id}/generate_report/':
    post:
      operationId: tests_generate_report
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TestCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TestCreate'
      tags:
        - tests
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this test.
        required: true
        type: integer
  /tool_configurations/:
    get:
      operationId: tool_configurations_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: tool_type
          in: query
          description: ''
          required: false
          type: string
        - name: url
          in: query
          description: ''
          required: false
          type: string
        - name: authentication_type
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ToolConfiguration'
      tags:
        - tool_configurations
    post:
      operationId: tool_configurations_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ToolConfiguration'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ToolConfiguration'
      tags:
        - tool_configurations
    parameters: []
  '/tool_configurations/{id}/':
    get:
      operationId: tool_configurations_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ToolConfiguration'
      tags:
        - tool_configurations
    put:
      operationId: tool_configurations_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ToolConfiguration'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ToolConfiguration'
      tags:
        - tool_configurations
    patch:
      operationId: tool_configurations_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ToolConfiguration'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ToolConfiguration'
      tags:
        - tool_configurations
    delete:
      operationId: tool_configurations_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - tool_configurations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this tool_ configuration.
        required: true
        type: integer
  /tool_product_settings/:
    get:
      operationId: tool_product_settings_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: product
          in: query
          description: ''
          required: false
          type: string
        - name: tool_configuration
          in: query
          description: ''
          required: false
          type: string
        - name: tool_project_id
          in: query
          description: ''
          required: false
          type: string
        - name: url
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ToolProductSettings'
      tags:
        - tool_product_settings
    post:
      operationId: tool_product_settings_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ToolProductSettings'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ToolProductSettings'
      tags:
        - tool_product_settings
    parameters: []
  '/tool_product_settings/{id}/':
    get:
      operationId: tool_product_settings_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ToolProductSettings'
      tags:
        - tool_product_settings
    put:
      operationId: tool_product_settings_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ToolProductSettings'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ToolProductSettings'
      tags:
        - tool_product_settings
    patch:
      operationId: tool_product_settings_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ToolProductSettings'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ToolProductSettings'
      tags:
        - tool_product_settings
    delete:
      operationId: tool_product_settings_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - tool_product_settings
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this tool_ product_ settings.
        required: true
        type: integer
  /tool_types/:
    get:
      operationId: tool_types_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: description
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ToolType'
      tags:
        - tool_types
    post:
      operationId: tool_types_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ToolType'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ToolType'
      tags:
        - tool_types
    parameters: []
  '/tool_types/{id}/':
    get:
      operationId: tool_types_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ToolType'
      tags:
        - tool_types
    put:
      operationId: tool_types_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ToolType'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ToolType'
      tags:
        - tool_types
    patch:
      operationId: tool_types_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ToolType'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ToolType'
      tags:
        - tool_types
    delete:
      operationId: tool_types_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - tool_types
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this tool_ type.
        required: true
        type: integer
  /users/:
    get:
      operationId: users_list
      description: ''
      parameters:
        - name: id
          in: query
          description: ''
          required: false
          type: number
        - name: username
          in: query
          description: ''
          required: false
          type: string
        - name: first_name
          in: query
          description: ''
          required: false
          type: string
        - name: last_name
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/User'
      tags:
        - users
    parameters: []
  '/users/{id}/':
    get:
      operationId: users_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/User'
      tags:
        - users
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this user.
        required: true
        type: integer
definitions:
  DevelopmentEnvironment:
    required:
      - name
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      name:
        title: Name
        type: string
        maxLength: 200
        minLength: 1
  Endpoint:
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      tags:
        type: array
        items:
          type: string
          minLength: 1
      protocol:
        title: Protocol
        description: 'The communication protocol such as ''http'', ''ftp'', etc.'
        type: string
        maxLength: 10
        x-nullable: true
      host:
        title: Host
        description: 'The host name or IP address, you can also include the port number. For example''127.0.0.1'', ''127.0.0.1:8080'', ''localhost'', ''yourdomain.com''.'
        type: string
        maxLength: 500
        x-nullable: true
      fqdn:
        title: Fqdn
        type: string
        maxLength: 500
        x-nullable: true
      port:
        title: Port
        description: The network port associated with the endpoint.
        type: integer
        maximum: 2147483647
        minimum: -2147483648
        x-nullable: true
      path:
        title: Path
        description: 'The location of the resource, it should start with a ''/''. For example/endpoint/420/edit'
        type: string
        maxLength: 500
        x-nullable: true
      query:
        title: Query
        description: 'The query string, the question mark should be omitted.For example ''group=4&team=8'''
        type: string
        maxLength: 1000
        x-nullable: true
      fragment:
        title: Fragment
        description: 'The fragment identifier which follows the hash mark. The hash mark should be omitted. For example ''section-13'', ''paragraph-2''.'
        type: string
        maxLength: 500
        x-nullable: true
      remediated:
        title: Remediated
        type: boolean
      product:
        title: Product
        type: integer
        x-nullable: true
      endpoint_params:
        type: array
        items:
          type: integer
        readOnly: true
        uniqueItems: true
  Engagement:
    required:
      - target_start
      - target_end
      - product
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      tags:
        type: array
        items:
          type: string
          minLength: 1
      name:
        title: Name
        type: string
        maxLength: 300
        x-nullable: true
      description:
        title: Description
        type: string
        maxLength: 2000
        x-nullable: true
      version:
        title: Version
        description: Version of the product the engagement tested.
        type: string
        maxLength: 100
        x-nullable: true
      first_contacted:
        title: First contacted
        type: string
        format: date
        x-nullable: true
      target_start:
        title: Target start
        type: string
        format: date
      target_end:
        title: Target end
        type: string
        format: date
      reason:
        title: Reason
        type: string
        maxLength: 2000
        x-nullable: true
      updated:
        title: Updated
        type: string
        format: date-time
        readOnly: true
      created:
        title: Created
        type: string
        format: date-time
        readOnly: true
      active:
        title: Active
        type: boolean
        readOnly: true
      tracker:
        title: Tracker
        description: Link to epic or ticket system with changes to version.
        type: string
        format: uri
        maxLength: 200
        x-nullable: true
      test_strategy:
        title: Test strategy
        type: string
        format: uri
        maxLength: 200
        x-nullable: true
      threat_model:
        title: Threat model
        type: boolean
      api_test:
        title: Api test
        type: boolean
      pen_test:
        title: Pen test
        type: boolean
      check_list:
        title: Check list
        type: boolean
      status:
        title: Status
        type: string
        enum:
          - Not Started
          - Blocked
          - Cancelled
          - Completed
          - In Progress
          - On Hold
          - Waiting for Resource
        x-nullable: true
      progress:
        title: Progress
        type: string
        readOnly: true
        minLength: 1
      tmodel_path:
        title: Tmodel path
        type: string
        readOnly: true
        minLength: 1
      risk_path:
        title: Risk path
        type: string
        readOnly: true
        minLength: 1
      done_testing:
        title: Done testing
        type: boolean
        readOnly: true
      engagement_type:
        title: Engagement type
        type: string
        enum:
          - Interactive
          - CI/CD
        x-nullable: true
      build_id:
        title: Build ID
        description: Build ID of the product the engagement tested.
        type: string
        maxLength: 150
        x-nullable: true
      commit_hash:
        title: Commit Hash
        description: Commit hash from repo
        type: string
        maxLength: 150
        x-nullable: true
      branch_tag:
        title: Branch/Tag
        description: Tag or branch of the product the engagement tested.
        type: string
        maxLength: 150
        x-nullable: true
      source_code_management_uri:
        title: Repo
        description: Resource link to source code
        type: string
        format: uri
        maxLength: 600
        x-nullable: true
      deduplication_on_engagement:
        title: Deduplication on engagement
        type: boolean
      eng_type:
        title: Eng type
        type: integer
        x-nullable: true
      lead:
        title: Lead
        type: integer
        x-nullable: true
      requester:
        title: Requester
        type: integer
        x-nullable: true
      preset:
        title: Preset
        description: Settings and notes for performing this engagement.
        type: integer
        x-nullable: true
      report_type:
        title: Report type
        type: integer
        x-nullable: true
      product:
        title: Product
        type: integer
      build_server:
        title: Build Server
        description: Build server responsible for CI/CD test
        type: integer
        x-nullable: true
      source_code_management_server:
        title: SCM Server
        description: Source code server for CI/CD test
        type: integer
        x-nullable: true
      orchestration_engine:
        title: Orchestration Engine
        description: Orchestration service responsible for CI/CD test
        type: integer
        x-nullable: true
      risk_acceptance:
        type: array
        items:
          type: integer
        readOnly: true
        uniqueItems: true
  AcceptedRisk:
    required:
      - cve
      - justification
      - accepted_by
    type: object
    properties:
      cve:
        title: CVE
        description: CVE or vulnerability id to accept findings for
        type: string
        maxLength: 28
        minLength: 1
      justification:
        title: Justification
        description: Justification for accepting findings with this CVE
        type: string
        minLength: 1
      accepted_by:
        title: Accepted by
        description: Name or email of person who accepts the risk
        type: string
        maxLength: 200
        minLength: 1
  FindingTemplate:
    required:
      - title
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      title:
        title: Title
        type: string
        maxLength: 1000
        minLength: 1
      cwe:
        title: Cwe
        type: integer
        maximum: 2147483647
        minimum: -2147483648
        x-nullable: true
      cve:
        title: Cve
        type: string
        pattern: '^[A-Z]{1,10}(-\d+)+$'
        maxLength: 28
        minLength: 1
        x-nullable: true
      severity:
[...]
